<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="家具,顺德家具,木材,沙发" />
<meta name="description" content="顺德家具厂" />
<title>佛山市顺德区宝源家具实业公司</title>
<!-- <script language="javascript" src="images/qq.js"></script></script> -->
<!-- <script language="javascript" src="js/asd.js"></script>  -->
<script language="javascript" src="js/jquery-1.3.2.min.js"></script>
<link href="css/index.css" rel="stylesheet" type="text/css" />
<link href="css/news.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>



<div id="container">
	<div class="header" >
    	<div class="headTop"  style="" >
        	<div class="logo">
            	<a href="index.php?admin=admin&c=admin&a=login"><img src="images/logo.gif" alt="佛山市顺德区宝源家具实业公司" title="佛山市顺德区宝源家具实业公司" /></a>
            </div>
            <div class="headRight">

                <a href="tencent://message/?uin=351218741&Site=在线QQ&Menu=yes"> <img border="0" src="http://wpa.qq.com/pa?p=2:351218741:41"  ></a>

                <!-- ShareTo Button BEGIN -->
                <script type="text/javascript" src="http://s.shareto.com.cn/js/shareto_float.js#color=2&align=right&move=1" charset="utf-8"></script>
                <!-- ShareTo Button END -->

                <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101249423" data-redirecturi="http://cn.fiberstore.com" charset="utf-8" ></script>
                <span id="qqLoginBtn"></span>
                <script type="text/javascript">
                    //调用QC.Login方法，指定btnId参数将按钮绑定在容器节点中
                    QC.Login({
                                //btnId：插入按钮的节点id，必选
                                btnId:"qqLoginBtn",
                                //用户需要确认的scope授权项，可选，默认all
                                scope:"all"
                                //按钮尺寸，可用值[A_XL| A_L| A_M| A_S|  B_M| B_S| C_S]，可选，默认B_S
                                //size: "B_S"
                            }, function(reqData, opts){//登录成功
                                //根据返回数据，更换按钮显示状态方法
                                var dom = document.getElementById(opts['btnId']),
                                        _logoutTemplate=[
                                            //头像
                                            '<span><img src="{figureurl}" class="{size_key}"/></span>',
                                            //昵称
                                            '<span>{nickname}</span>',
                                            //退出
                                            '<span><a href="javascript:QC.Login.signOut();">退出</a></span>'
                                        ].join("");
                                dom && (dom.innerHTML = QC.String.format(_logoutTemplate, {
                                    nickname : QC.String.escHTML(reqData.nickname), //做xss过滤
                                    figureurl : reqData.figureurl
                                }));
                            }, function(opts){//注销成功
                                alert('QQ登录 注销成功');
                            }
                    );
                </script>


                <div class="tool" id="loginDIV" style="width:400px;float:left">
							<?php if(empty($_SESSION['user'])){?>
							   <form action="index.php?c=user&a=login" method="post" id="formDIV">
								    用户名：<input type="text" name="username" id="username" size="10"/>
										密 码：<input type="password" name="password" id="password" size="10"/>
										<input type="checkbox" name="remember" id="remember" value=1 />记住我
									  <input type="submit"  value="登录" />
								 </form>
							<?php } else{echo $_SESSION['user'].",欢迎你!<a href='index.php?c=user&a=logout'>退出</a>";}?>
				</div>


                <div style="float:right;width: 200px">
                    <!-- ShareTo Button BEGIN -->
                    <a class="shareto_button" href="http://shareto.com.cn/share.html"><img src="http://s.shareto.com.cn/btn/lg-share-cn.gif" width="125" height="21" alt="分享道" style="border:0"/></a>
                    <script type="text/javascript" src="http://s.shareto.com.cn/js/shareto_button.js" charset="utf-8"></script>
                    <!-- ShareTo Button END -->
                </div>
                <div style="clear:both" class="clearfix"></div>


               <ul class="nav">
                    <li class="navLeft"></li>
                    <li class="navCenter">
                    	<a href="index.html">公司简介</a>
                        <a href="http://localhost/discuz/forum.php">产品论坛</a>
                        <a href="index.php?c=news&a=index">新闻中心</a>
                        <a href="index.php?c=message&a=index">给我留言</a>
                        <a href="links.html">友情链接</a>
                        <a href="address.html">联系我们</a>
                        <a href="index.php?c=user&a=register" class="last">会员注册</a>
                    </li>
                    <li class="navRight"></li>
                </ul><!-- 避免多DIV症 -->
            </div>
        </div>
        <div class="banner"><img src="images/banna.jpg" /></div>
    </div>

    <div class="main">
    	<div class="mainLeft">
        	<img src="images/product.gif" /><!-- 隐式块级 -->
            <ul class="cate">
            	<li class="cateTop"></li>
                <li class="cateMid">
                	<a href="#">商务会议</a>
                    <a href="#">商务会议</a>
                    <a href="#">商务会议</a>
                    <a href="#">商务会议</a>
                </li>
                <li class="cateBtm"></li>
            </ul>
            <img src="images/search.gif" />
            <div class="search">
            <form>
            	<p><input type="text" name="keyword" size="15" /></p>
            	<p>
                	<select name="cate">
                		<option value="">请选择</option>
                    	<option value="">商务会议</option>
                    	<option value="">商务会议</option>
                	</select>
                </p>
                <p><input type="image" src="images/search_left.gif" /></p>
            </form>
            </div>
        </div>
				<script>
				  $("#formDIV").live('submit',function(){
					   //alert('a');
						 var url=$(this).attr('action');
						 var username=$("#username").attr('value');
						 var password=$("#password").val();
						 var remember = $('#remember').is(':checked');
						 if(remember){
						    remember=1;
						 }
						 else{
						    remember=0;
						 }
						 //alert (remember);return false;
						 //alert (password);return false;
							$.ajax({
								type: "POST",
								url: url,
								data: "username="+username+"&password="+password+"&remember="+remember,
								success: function(msg){
									//alert( "Data Saved: " + msg );return false;
									 var nr=msg+",欢迎你!<a href='index.php?c=user&a=logout'>退出</a>";
									 if(msg==0){
									    alert('请输入用户名和密码');
										  //$("#loginDIV").html(nr2);
									 }
									 else if(msg==1){
											alert('用户名或密码错误');					
											//$("#loginDIV").html(nr2);
									 }
									 else{
									    $("#loginDIV").html(nr);
									 }
								}
              });
						 return false;
					})
					$("#loginDIV a").live('click',function(){
					//alert ('a');return false;
					var url=$(this).attr('href');
					//alert(url);return false;
					$.ajax({				
						type: "POST",
						url: url,
						//data: "name=John&location=Boston",
						success: function(msg){
						   //alert( "Data Saved: " + msg );
							var nr2='<form action="index.php?c=user&a=login" method="post" id="formDIV">';
							nr2+='用户名：<input type="text" name="username" id="username" size="10"/> ';
							nr2+='密 码：<input type="password" name="password" id="password" size="10"/> ';
							nr2+='<input type="checkbox" name="remember" value=1 />记住我 ';
							nr2+='<input type="submit"  value="登录" />';
							nr2+='</form>';
							$("#loginDIV").html(nr2);
						  }
          });
					return false;
					})


//导航栏固定效果

//$(document).ready(function(){

    $(function(){
        //获取要定位元素距离浏览器顶部的距离
        var navH = $(".headTop").offset().top;
        //滚动条事件
        $(window).scroll(function(){
            //获取滚动条的滑动距离
            var scroH = $(this).scrollTop();
            //滚动条的滑动距离大于等于定位元素距离浏览器顶部的距离，就固定，反之就不固定
            if(scroH>=navH){
                $(".headTop").css({"position":"fixed","top":0,"background-color":"white"});
            }else if(scroH<navH){
             $(".headTop").css({"position":"static"});
            }
        })
    })
    //})


 </script>
				
