
    <div class="content-box">
			<!-- Start Content Box -->
      <div class="content-box-header">
        <h3>Content box</h3>
        <ul class="content-box-tabs">
          <li><a href="#tab1" class="default-tab">Table</a></li>
          <!-- href must be unique and match the id of target div -->
          <li><a href="#tab2">Forms</a></li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- End .content-box-header -->
      <div class="content-box-content">
        <div class="tab-content default-tab" id="tab1">
          <!-- This is the target div. id must match the href of this div's tab -->
          <div class="notification attention png_bg"> <a href="#" class="close"><img src="resources/images/icons/cross_grey_small.png" title="Close this notification" alt="close" /></a>
            <div> This is a Content Box. You can put whatever you want in it. By the way, you can close this notification with the top-right cross. </div>
          </div>
          <table>
            <thead>
              <tr>
                <th>
                  <input class="check-all" type="checkbox" />
                </th>
                <th>ID</th>
                <th>用户名</th>
                <th>标题</th> 
				        <th>状态</th>				
                <th>时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td colspan="6">
                  <div class="bulk-actions align-left">
                    <select name="dropdown">
                      <option value="option1">Choose an action...</option>
                      <option value="option2">Edit</option>
                      <option value="option3">Delete</option>
                    </select>
                    <a class="button" href="#">Apply to selected</a> </div>
                  <div class="pagination" id="pageDIV"> 
					<!--   <a href="#" title="First Page">&laquo; First</a>
					  <a href="#" title="Previous Page">&laquo; Previous</a>
					  <a href="index.php?curpage=1" class="number" title="1">1</a> 
					  <a href="index.php?curpage=2" class="number" title="2">2</a> 
					  <a href="index.php?curpage=3" class="number current" title="3">3</a> 
					  <a href="index.php?curpage=4" class="number" title="4">4</a> 
					  <a href="index.php?curpage=5" class="number" title="4">5</a> 
					  <a href="#" title="Next Page">Next &raquo;</a>
					  <a href="#" title="Last Page">Last &raquo;</a>  -->
					  <?php echo $page?>
				  </div>
                  <!-- End .pagination -->
                  <div class="clear"></div>
                </td>
              </tr>
            </tfoot>
            <tbody id="listDIV">
			<?php foreach($data as $v){?>
              <tr>
                <td>
                  <input type="checkbox" />
                </td>
                <td><?php echo $v["id"];?></td>
                <td><a href="#" title="title"><?php echo $v["username"];?></a></td>
				<td><?php echo $v["title"];?></td>
				<td><?php if($v['status']==1){echo '已审核';}else{echo '未审核';}?></td>
                <td><?php echo $v['time'];?></td>
                <td>
                  <!-- Icons --><!-- <a href="网址" onclick="return confirm('请确认删除');">点击</a>  -->
				  <a href="index.php?admin=admin&c=message&a=edit&id=<?php echo $v["id"];?>" title="Edit Meta"><img src="resources/images/icons/hammer_screwdriver.png" alt="Edit Meta" /></a> 

				</td>
              </tr>
			  <?php }?>
            </tbody>
          </table>
        </div>
        <!-- End #tab1 -->
        <div class="tab-content" id="tab2">
          <form action="#" method="post">
            <fieldset>
            <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
            <p>
              <label>Small form input</label>
              <input class="text-input small-input" type="text" id="small-input" name="small-input" />
              <span class="input-notification success png_bg">Successful message</span>
              <!-- Classes for input-notification: success, error, information, attention -->
              <br />
              <small>A small description of the field</small> </p>
            <p>
              <label>Medium form input</label>
              <input class="text-input medium-input datepicker" type="text" id="medium-input" name="medium-input" />
              <span class="input-notification error png_bg">Error message</span> </p>
            <p>
              <label>Large form input</label>
              <input class="text-input large-input" type="text" id="large-input" name="large-input" />
            </p>
            <p>
              <label>Checkboxes</label>
              <input type="checkbox" name="checkbox1" />
              This is a checkbox
              <input type="checkbox" name="checkbox2" />
              And this is another checkbox </p>
            <p>
              <label>Radio buttons</label>
              <input type="radio" name="radio1" />
              This is a radio button<br />
              <input type="radio" name="radio2" />
              This is another radio button </p>
            <p>
              <label>This is a drop down list</label>
              <select name="dropdown" class="small-input">
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
                <option value="option4">Option 4</option>
              </select>
            </p>
            <p>
              <label>Textarea with WYSIWYG</label>
              <textarea class="text-input textarea wysiwyg" id="textarea" name="textfield" cols="79" rows="15"></textarea>
            </p>
            <p>
              <input class="button" type="submit" value="Submit" />
            </p>
            </fieldset>
            <div class="clear"></div>
            <!-- End .clear -->
          </form>
        </div>
        <!-- End #tab2 -->
      </div>
      <!-- End .content-box-content -->
    </div>
    <!-- End .content-box -->
		<script>
		$("#pageDIV a").live('click',function(){
		//alert("a");
		var url=$(this).attr("href");
		//alert (url);return false;
		$.ajax({
			type: "GET",
			url: url,
			dataType:'json',
			//data: "name=John&location=Boston",
			success: function(msg){
         //alert( "Data Saved: " + msg.data[0].id );
				 var content="";
				 for(var i=0;i<msg.data.length;i++){
							content+='<tr ';
							if(i%2==0){
							content+='class="alt-row"';
							}
							content+='>';
							content+='<td>';
							content+='<input type="checkbox" />';
							content+='</td>';
							content+='<td>'+msg.data[i].id+'</td>';
							content+='<td>'+msg.data[i].username+'</td>';
							content+='<td><a href="#" title="title">'+msg.data[i].title+'</a></td>';
							if(msg.data[i].status==1){content+='<td>已审核</td>';}
							else{content+='<td>未审核</td>';}
							content+='<td>'+msg.data[i].time+'</td>';
							content+='<td>';
							<!-- Icons --><!-- <a href="网址" onclick="return confirm('请确认删除');">点击</a>  -->
				  content+='<a href="index.php?admin=admin&c=message&a=edit&id='+msg.data[i].id+'" title="Edit Meta"><img src="resources/images/icons/hammer_screwdriver.png" alt="Edit Meta" /></a>'; 
							content+='</tr>';
				 }
				 //alert(content);
				 $("#listDIV").html(content);
				 $("#pageDIV").html(msg.page);
			}
		});
		return false;
		})
		</script>
    